.App {
  min-height: 100vh;
  display: flex;
  /* align-items:center; */
  justify-content: center;
  background: #c0cbf5;
  text-align: center;
  padding: 80px 0px;
}

.card {
  box-shadow: 6px 15px 25px #222233;
}
